/* body {
  background-color: red;
} */

.printable * {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.printable table {
  border-collapse: collapse;
  text-align: center; 
  vertical-align: middle;
  table-layout: fixed;
  width: 100%;
}

.printable table th,
.printable table td {
  border: 1px solid black;
  width: 100px;
}

.printable table th {
  background: #e6e6e6;
}

.bold {
  font-weight: bold;
}